<!DOCTYPE html>
<html>
<head>
    <title>Nader Flask</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  background-color: LightSalmon;
}
</style>
</head>
<body>

<h2><center>Hellow there ,Plz choose a photo and a func:</center></h2>

<div class="row">
    <h2><center><img src="https://storage.googleapis.com/seetree-demo-open/IMG_1.jpg" alt="centered image" width="500" height="250" /><center></h2>
    <p><center><a href="http://127.0.0.1:5000/stats/IMG_1.jpg/min"
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/max"
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/mean"
                class="btn btn-primary">mean</a>
  <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/p50"
                class="btn btn-primary">percentile</a></center> </p>
  </div>
    <h2><center><img src="https://storage.googleapis.com/seetree-demo-open/IMG_2.jpg" alt="centered image" width="500" height="250" /></center></h2>
    <p><center><a href="http://127.0.0.1:5000/stats/IMG_2.jpg/min"
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_2.jpg/max"
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_2.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_2.jpg/mean"
                class="btn btn-primary">mean</a>
  <a href="http://127.0.0.1:5000/stats/IMG_2.jpg/p50"
                class="btn btn-primary">percentile</a></center> </p>
  </div>
    <h2><center><img src="https://storage.googleapis.com/seetree-demo-open/IMG_3.jpg" alt="centered image" width="500" height="250" /><center></h2>
    <p><center><a href="http://127.0.0.1:5000/stats/IMG_3.jpg/min"
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_3.jpg/max"
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_3.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_3.jpg/mean"
                class="btn btn-primary">mean</a>
  <a href="http://127.0.0.1:5000/stats/IMG_3.jpg/p50"
                class="btn btn-primary">percentile</a></center> </p>
  </div>
    <h2><center><img src="https://storage.googleapis.com/seetree-demo-open/IMG_4.jpg" alt="centered image" width="500" height="250" /><center></h2>
    <p><center><a href="http://127.0.0.1:5000/stats/IMG_4.jpg/min"
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_4.jpg/max"
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_4.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_4.jpg/mean"
                class="btn btn-primary">mean</a>
    <a href="http://127.0.0.1:5000/stats/IMG_4.jpg/p50"
                class="btn btn-primary">percentile</a></center> </p>
  </div>
    <h2><center><img src="https://storage.googleapis.com/seetree-demo-open/IMG_5.jpg" alt="centered image" width="500" height="250" /><center></h2>
    <p><center><a href="http://127.0.0.1:5000/stats/IMG_5.jpg/min"
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_5.jpg/max"
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_5.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_5.jpg/mean"
                class="btn btn-primary">mean</a>
     <a href="http://127.0.0.1:5000/stats/IMG_5.jpg/p50"
                class="btn btn-primary">percentile</a></center> </p>

  </div>
</div>

<div class="row">
    <h2><center><img src="https://storage.googleapis.com/seetree-demo-open/IMG_6.jpg" alt="centered image" width="500" height="250" /><center></h2>
    <p><center><a href="http://127.0.0.1:5000/stats/IMG_6.jpg/min"
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_6.jpg/max"
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_6.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_6.jpg/mean"
                class="btn btn-primary">mean</a>
  <a href="http://127.0.0.1:5000/stats/IMG_6.jpg/p50"
                class="btn btn-primary">percentile</a></center> .</p>
  </div>
    <h2><center><img src="https://storage.googleapis.com/seetree-demo-open/IMG_7.jpg" alt="centered image" width="500" height="250" /></center></h2>
    <p><center><a href="http://127.0.0.1:5000/stats/IMG_7.jpg/min"
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_7.jpg/max"
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_7.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_7.jpg/mean"
                class="btn btn-primary">mean</a>
  <a href="http://127.0.0.1:5000/stats/IMG_7.jpg/p50"
                class="btn btn-primary">percentile</a></center> </p>
  </div>
    <h2><center><img src="https://storage.googleapis.com/seetree-demo-open/IMG_8.jpg" alt="centered image" width="500" height="250" /><center></h2>
    <p><center><a href="http://127.0.0.1:5000/stats/IMG_8.jpg/min"
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_8.jpg/max"
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_8.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_8.jpg/mean"
                class="btn btn-primary">mean</a>
  <a href="http://127.0.0.1:5000/stats/IMG_8.jpg/p50"
                class="btn btn-primary">percentile</a></center> </p>
  </div>
    <h2><center><img src="https://storage.googleapis.com/seetree-demo-open/IMG_9.jpg" alt="centered image" width="500" height="250" /><center></h2>
    <p><center><a href="http://127.0.0.1:5000/stats/IMG_9.jpg/min"
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_9.jpg/max"
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_9.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_9.jpg/mean"
                class="btn btn-primary">mean</a>
    <a href="http://127.0.0.1:5000/stats/IMG_9.jpg/p50"
                class="btn btn-primary">percentile</a></center> </p>
  </div>
    <h2><center><img src="https://storage.googleapis.com/seetree-demo-open/IMG_10.jpg" alt="centered image" width="500" height="250" /><center></h2>
    <p><center><a href="http://127.0.0.1:5000/stats/IMG_10.jpg/min"
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_10.jpg/max"
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_10.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_10.jpg/mean"
                class="btn btn-primary">mean</a>
     <a href="http://127.0.0.1:5000/stats/IMG_10.jpg/p50"
                class="btn btn-primary">percentile</a></center> </p>

  </div>
