<html>
    <head>
        <style>
        .p1 {
            font-weight: 400 ;
            text-align : center ;
            font-size: 80%;
            font-family: Comic Sans MS ;
         }


        .aligncenter {
            text-align: center;
        }
        </style>
    </head>

    <br>
    <br>
  <p class="p1">Your image doesn't exists on my server,check another image</p>
    <p class="aligncenter">
        <img src="https://assets.prestashop2.com/sites/default/files/styles/blog_750x320/public/blog/2019/10/banner_error_404.jpg?itok=eAS4swln" alt="centered image" width="500" height="250"  />
    </p>








</html>
